<div style="margin-left:40px;margin-right:200px;font-size:15px;">

  <% @reviews.each do |review| %>
      <div class="header" style="color:#00B4CC;">
        <%= review.summary %>
      </div>
      <p><%= review.text%></p>
      <h5>Search score: <%= review.score %> | ProductId: <%= review.product_id %> | UserId: <%= review.user_id %> | Helpfulness: <%= review.helpfulness %> | Timestamp: <%= review.time %> </h5>
  <% end %>

</div>
