<p> input query format: query1, query2</p>
<div class="search">
  <%= form_tag(search_path, method: "get", id: "search-form") do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search", class: 'searchTerm' %>
    <p></p>
    <%= submit_tag "Search", :name => nil, :class => 'searchButton' %>
  <% end %>
</div>
    <p></p>
    <%= render 'reviews' %>
